<div class="container-fluid">
  <header class="page-header text-center">
    <h1>Phone List</h1>
  </header>

  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
      <div class="form-group">
        <label for="query">Search:</label>
        <input id="query" class="form-control" ng-model="$ctrl.query"/>
      </div>

      <div class="form-group">
        <label for="sort-by">Sort by</label>
        <select id="sort-by" class="form-control" ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </div>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <h2>Phones</h2>
      <ul class="list-group phones">
        <li class="list-group-item thumbnail" ng-repeat="phone in $ctrl.phones |
          filter: $ctrl.query |
          orderBy:$ctrl.orderProp as filtered">
          <a href="/#/phones/{{ phone.id }}" class="thumb">
            <img ng-src="{{ phone.imageUrl }}" alt="{{ phone.name }}">
          </a>
          <a href="/#/phones/{{ phone.id }}">
            <span>{{phone.name}}</span>
          </a>
          <p>{{phone.snippet}}</p>
        </li>
      </ul>
      <p class="text-danger" ng-if="!filtered.length">No phones :(</p>

    </div>
  </div>
</div>
